<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skycarpenter Punch</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"微軟正黑體";
      }
      .btn{
        letter-spacing: 2px;
      }
      #showErr{
        margin-top: 20px;
      }
      .punch-table {
        width: 100%;
        max-width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        overflow: hidden;
      }
      .punch-table>tbody>tr>td, .punch-table>tbody>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        vertical-align: middle;
      }
      .blockui{
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0;
      }
      #loading{
        display: inline-block;
        margin-bottom: 0;
        width: 30%;
        min-width: 150px;
      }
      [v-cloak] {
        display: none;
      }
      #errors {
        bottom: 10px;
        left: 10px;
        right: 10px;
        position: fixed;
        z-index: 1029;
        margin-bottom: 0;
      }
      #errors > ul {
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container" id="app" v-cloak @beforeUpdate="loading(1)" @updated="loading(-1)">
      <h1><a target="_blank" :href="'https://docs.google.com/spreadsheets/d/' + spreadsheet.id + '/edit'">冒險時刻表</a> <small>{{ today }}</small></h1>
      <div style="margin: 0 -8px">
        <table class="punch-table">
          <tr>
            <td colspan="2" class="text-center">{{ google.isSignedIn ? (google.name + ' <' + google.email + '>') : '請登入' }}</td>
            <td style="width: 33%">
              <button class="btn btn-danger btn-lg btn-block" @click="googleLogin" v-if="!google.isSignedIn"><i class="fa fa-google fa-fw"></i> 登入</button>
              <button class="btn btn-info btn-lg btn-block" @click="googleLogout" v-else><i class="fa fa-google"></i> 登出</button>
            </td>
          </tr>
          <tr v-if="punchRange.length">
            <th class="text-center" style="width: 20%">{{ punchRange[0] || '' }}</th>
            <td class="text-center" style="width: 47%">{{ spreadsheet.punch[0] || '空' }}</td>
            <td>
              <button class="btn btn-primary btn-lg btn-block" @click="punch(0)"><i class="fa fa-sign-in fa-fw"></i> 上班</button>
            </td>
          </tr>
          <tr v-if="punchRange.length">
            <th class="text-center">{{ punchRange[1] || '' }}</th>
            <td class="text-center">{{ spreadsheet.punch[1] || '空' }}</td>
            <td>
              <button class="btn btn-success btn-lg btn-block" @click="punch(1)"><i class="fa fa-sign-out fa-fw"></i> 下班</button>
            </td>
          </tr>
          <tr v-if="punchRange.length">
            <td class="text-center" colspan="2">{{ offWorkHint }}</td>
            <td><button class="btn btn-link btn-lg btn-block disabled" style="letter-spacing: -1px; padding: 10px 0">{{ (date.now.hour() < 12? '上午 ' : '下午 ') + date.now.format('h:mm:ss') }}</button></td>
          </tr>
        </table>
      </div>
      <div class="alert alert-danger" role="alert" v-if="errors.length" id="errors">
        <button type="button" class="close" @click="errors = []"><span aria-hidden="true">&times;</span></button>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </div>
      <div class="alert alert-info" role="alert" id="loading" style="display: none"><i class="fa fa-spinner fa-pulse fa-fw"></i> 載入中…</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript">
      'use strict';
      let vm = new Vue({
        el: '#app',
        data() {
          return {
            google: {
              clientId: '380601973526-gi37mp88kgruon8oqup6vieidg125313.apps.googleusercontent.com',
              scopes: [
                "https://www.googleapis.com/auth/spreadsheets",
                "profile",
                "email"
              ],
              auth2: null,
              name: null,
              email: null,
              isSignedIn: false,
            },
            date: {
              start: null,
              now: moment(),
            },
            spreadsheet: {
              id: '18ZLCiOgUfOHPrTkWLfWS_iwOhul6BiDfZcE4OnW6J3Q', // test
              // id: '1vd4u_xjKUeiSiunoUSIRkWaAtDV2wbyFWg8CTHJWsFY', // prod
              punch: ['', ''], // 上班, 下班
              names: [],
            },
            loadingDepth: 0,
            errors: [],
          };
        },
        computed: {
          today() {
            return this.date.now.format('YYYY/M/D');
          },
          offWorkHint() {
            let punchIn = this.spreadsheet.punch[0];
            let punchOut = this.spreadsheet.punch[1];
            if (!punchIn) return '還沒上班打卡喔！';
            if (punchOut) return '';
            let dateOffWork = moment(punchIn, 'A hh:mm:ss').add(8, 'h');
            if (punchIn[0] === '上') dateOffWork.add(90, 'm');
            if (dateOffWork > this.date.now)
              return '預計於 ' + dateOffWork.from(this.date.now) + ' 可以打卡下班。';
            else return '已經可以下班囉！';
          },
          punchRange() {
            if(!this.spreadsheet.names.length || !this.date.start.isValid())
              return [];
            let diffDays = ~~((this.date.now - this.date.start) / 864e5) + 3;
            let ref = this.spreadsheet.names.indexOf(this.google.name) * 3 + 2;
            return [
              this.int2ref(ref) + diffDays,
              this.int2ref(ref+1) + diffDays,
            ];
          },
        },
        mounted() {
          moment.locale("zh-tw");
          window.setInterval(() => {
            this.date.now = moment()
          }, 1000)
        },
        methods: {
          loading(diff) {
            let newLoadingDepth = this.loadingDepth + (diff || 0);
            // console.log('diff =', diff, 'loading =', newLoadingDepth);
            if(this.loadingDepth < 1 && newLoadingDepth > 0)
              $.blockUI();
            else if(this.loadingDepth > 0 && newLoadingDepth < 1)
              $.unblockUI();
            this.loadingDepth = newLoadingDepth;
            return this;
          },
          googleOnload() {
            this.loading(1);
            gapi.load('client:auth2', this.googleInitAuth);
            gapi.client.load('https://sheets.googleapis.com/$discovery/rest?version=v4', null, this.googleInitAuth);
            return this;
          },
          googleInitAuth() {
            if(!gapi.auth2 || !gapi.client.sheets)
              return;
            gapi.auth2.init({
              'client_id': this.google.clientId,
              'scope': this.google.scopes.join(' '),
            }).then(function(){
              this.google.auth2 = gapi.auth2.getAuthInstance();
              this.google.auth2.isSignedIn.listen(this.googleUpdateSigninStatus);
              this.google.auth2.currentUser.listen(this.googleHandleUser);
              this.googleUpdateSigninStatus(this.google.auth2.isSignedIn.get());
              this.googleHandleUser(this.google.auth2.currentUser.get());
              this.loading(-1);
            }.bind(this));
          },
          googleLogin() {
            this.google.auth2.signIn();
            return this;
          },
          googleLogout() {
            this.google.auth2.signOut();
            location.reload();
            return this;
          },
          googleUpdateSigninStatus(isSignedIn) {
            this.google.isSignedIn = isSignedIn;
          },
          googleHandleUser(user) {
            try {
              this.loading(1);
              if(!user.isSignedIn()) {
                this.loading(-1);
                return;
              }
              let BasicProfile = user.getBasicProfile();
              this.google.name = BasicProfile.getName();
              this.google.email = BasicProfile.getEmail();
              this.punchTableReload();
              this.loading(-1);
            } catch(e) {
              this.errors.push(e.message);
              this.loading(-1);
            }
          },
          punchTableReload() {
            this.loading(1);
            gapi.client.sheets.spreadsheets.values.batchGet({
              spreadsheetId: this.spreadsheet.id,
              ranges: ["'冒險時刻'!B1:1", "'冒險時刻'!A3"],
            }).then(function(response) {
              var ranges = response.result.valueRanges;
              this.spreadsheet.names = ranges[0].values[0].filter(function(val){return val.length>0});
              this.date.start = moment(ranges[1].values[0][0], 'YYYY/M/D');
              if(this.punchRange.length == 0)
                return this;
              // get punch cell data
              gapi.client.sheets.spreadsheets.values.batchGet({
                spreadsheetId: this.spreadsheet.id,
                ranges: ["'冒險時刻'!"+this.punchRange[0], "'冒險時刻'!"+this.punchRange[1]],
              }).then(function(response){
                var ranges = response.result.valueRanges;
                // console.log(ranges);
                for(var i=0; i<2; i++)
                  this.$set(this.spreadsheet.punch, i, _.get(ranges[i].values, [0, 0], ''));
                this.loading(-1);
              }.bind(this), function(response) { // error
                this.errors.push('無法寫入冒險時刻表: ' + response.result.error.message);
                this.loading(-1);
              }.bind(this));
            }.bind(this), function(response) { // error
              this.errors.push('無法讀取冒險時刻表: ' + response.result.error.message);
              this.loading(-1);
            }.bind(this));
          },
          punch(i) {
            if(this.spreadsheet.punch[i] && !confirm('已經打卡過了，確定覆蓋？'))
              return this;
            this.loading(1);
            let now = moment();
            gapi.client.sheets.spreadsheets.values.update({
              spreadsheetId: this.spreadsheet.id,
              range: [this.punchRange[i]],
              valueInputOption: 'RAW',
              values: [[ (now.hour() < 12? '上午 ' : '下午 ') + now.format('h:mm:ss') ]],
            }).then(function() {
              this.punchTableReload();
              this.loading(-1);
            }.bind(this));
          },
          int2ref(num) {
            var ref = '';
            while(num > 0) {
              num--;
              ref = String.fromCharCode(65 + num%26) + ref;
              num = Math.floor(num/26);
            }
            return ref;
          },
        },
      });
      function gapi_onload() {
        vm.googleOnload();
      }
      (function($){
        $(function(){
          $.blockUI.defaults.message = $('#loading');
          $.blockUI.defaults.css = {
            padding: 0,
            margin: 0,
            width: '100%',
            top: '40%',
            textAlign: 'center',
            cursor: 'wait'
          };
          $.blockUI.defaults.fadeIn = 0;
          $.blockUI.defaults.fadeOut = 0;
        });
      })(jQuery);
    </script>
    <script src="https://apis.google.com/js/client.js">
    </script>
  </body>
</html>
